.app-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  width: 100%;
  max-width: 600px;
  padding: 1em;
  font-size: 1.2em;
  margin-bottom: 2em;
  box-sizing: border-box;
}